body {
    background-color: SeaShell; 
    color: rgba(97, 15, 15, 0.945); 
    font-family: 'Century Gothic';
    margin: 0px
}
header {
    background-color: rgba(175, 96, 76, 0.13);
     color: rgba(131, 20, 20, 0.568); 
     margin: 0px;  
     padding: 15px; 
     font-size: 15pt; 
     text-align: center
}
main { 
    color: rgba(97, 16, 16, 0.671); 
     margin: 5px;  
     font-size: 12pt; 
}
footer {
    background-color: rgba(175, 96, 76, 0.13);
     color: rgba(131, 20, 20, 0.568); 
     margin: 0px;  
     padding: 15px; 
     font-size: 10pt; 
     text-align: center
}
a { 
    color:rgb(192, 117, 117);
    text-decoration: none;
    transition: 1s 2s;
}
a:link { 
    color:rgb(160, 77, 77);
    
}
a:visited {
    color: olive;
}
a:hover {
    color:rgba(97, 15, 15, 0.945);
    text-decoration: underline;
    background: rgb(197, 154, 143);
    transition: 0.3s
}
a:active {
    color:rgb(80, 23, 8);
    opacity: 0,3;
}
div.menu {
    border: 2px solid rgba(236, 204, 195, 0.829);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: rgb(243, 230, 226);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

